@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto";
    padding: 0;
    margin: 0;
}

body{
    background-color: #CCA283;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.canvas-stand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    margin-bottom: 45px;
}
.grid-row{
    display: flex;
}

.button-container{
    margin-top: 19px;
    display: flex;
    justify-content: space-around;
}
.generate-canvas{
    padding: 18px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #3D2B1F;
}
.reset-canvas{
    padding: 18px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #B23A2E;
}

[class*="square-"]{
    background-color: #ffff;
    height: 16px;
    width: 16px;
}